{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h3>Egnyte data analisys</h3>

    <button type="button" id="reset" class="btn btn-info">Reset all filters</button>
</div>

<ul class="nav nav-pills">
  <li><a data-toggle="pill" href="#Menu1">Actions</a></li>
  <li><a data-toggle="pill" href="#Menu2">Space usage</a></li>
  <li><a data-toggle="pill" href="#Menu3">User Chart</a></li>
    <li><a data-toggle="pill" href="#Menu4">Workgroup Chart</a></li>
    <li><a data-toggle="pill" href="#Menu5">User Agent</a></li>
</ul>

<hr />

  <div class="tab-content">
<div id="Menu1" class="tab-pane fade in active">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Total actions</h3>
		  </div>
		  <div class="panel-body">
			<div id="total-action-chart">
			</div>
		  </div>
		</div>
        </div>
    </div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Number of actions per type</h3>
		  </div>
		  <div class="panel-body">
			<div id="action-chart">
			</div>
		  </div>
		</div>
	</div>
</div>

 <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Number of actions per action source</h3>
		  </div>
		  <div class="panel-body">
			<div id="action-soruce-chart">
			</div>
		  </div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Actions per hour</h3>
		  </div>
		  <div class="panel-body">
			<div id="hourly-chart">
			</div>
		  </div>
		</div>
	</div>
</div>
</div>

<div id="Menu2" class="tab-pane fade">
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Data usage total</h3>
		  </div>
		  <div class="panel-body">
			<div id="data-usage-total">
			</div>
		  </div>
		</div>
	</div>
</div>

    <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Data usage per action</h3>
		  </div>
		  <div class="panel-body">
			<div id="data-usage-action">
			</div>
		  </div>
		</div>
	</div>
</div>

    <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Data usage average per action</h3>
		  </div>
		  <div class="panel-body">
			<div id="data-usage-action-avg">
			</div>
		  </div>
		</div>
	</div>
</div>

        <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Data usage per action source</h3>
		  </div>
		  <div class="panel-body">
			<div id="data-usage-action-source">
			</div>
		  </div>
		</div>
	</div>
</div>



            <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Data usage in time</h3>
		  </div>
		  <div class="panel-body">
			<div id="data-usage-time">
			</div>
		  </div>
		</div>
	</div>
</div>

    </div>

<div id="Menu3" class="tab-pane fade">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Users with most actions</h3>
		  </div>
		  <div class="panel-body">
			<div id="user-chart">
			</div>
		  </div>
		</div>
	</div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Add user to filter</h3>
		  </div>
		  <div class="panel-body">

			</div>
		  </div>
		</div>
            </div>

        </div>


      <div id="Menu4" class="tab-pane fade">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Working groups with most actions</h3>
		  </div>
		  <div class="panel-body">
			<div id="workgroup-chart">
			</div>
		  </div>
		</div>
	</div>
</div>
</div>


      <div id="Menu5" class="tab-pane fade">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">User agents with most actions</h3>
		  </div>
		  <div class="panel-body">
			<div id="user-agent-chart">
			</div>
		  </div>
		</div>
	</div>
</div>
</div>
</div>




{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/d3.js' %}"></script>
<script src="{% static 'app/scripts/d3-queue.js' %}"></script>
<script src="{% static 'app/scripts/crossfilter.js' %}"></script>
<script src="{% static 'app/scripts/dc.js' %}"></script>
<script src="{% static 'app/scripts/script.js' %}"></script>

{% endblock %}